# This is an OpenAPI Specification (https://swagger.io/specification/) 
# for patient-care-aggregator-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: "Patient Care Aggregator Record Service API"
  version: "1.0.1"
  description: |
    ## Overview 
    ![Patient Care Aggregator Get Appointments API Standard context diagram](https://digital.nhs.uk/binaries/content/gallery/website/developer/api-catalogue/patient-care-aggregator-fhir-api/patient-care-aggregator-get-appointments-api-standard.svg?raw=true)

    Use this API standard, as a secondary care provider, to build an API that the Patient Care Aggregator can use to get a list of bookings for a patient. 

    The Patient Care Aggregator aggregates this information with similar information from other providers before returning them to the NHS App for the patient to see. 

    As a secondary care provider, you’ll also need to: 
    - use the [Patient Cate Aggregator Record Service API](https://digital.nhs.uk/developer/api-catalogue/patient-care-aggregator-record-service/patient-care-aggregator-record-service-api) to let the let the Patient Care Aggregator know which patients you have bookings for 
    - build a ‘patient portal’ web application that the patient can access via a hyperlink from the NHS App 

    For more details, see [Building healthcare software – patient access to referrals and bookings](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings).

    ## Who can use this API standard 
    You can only use this API standard if you are integrating a secondary care booking system with our Patient Care Aggregator. 

    ## Status 
    This API standard is in [beta](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning it is available for use but might be subject to breaking changes.

    ## Service level 
    Your API must be a gold service, meaning it is operational and supported 24 x 7 x 365. 

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels). 

    ## Technology 

    This API standard: 
    - is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest) 
    - conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) global standard for health care data exchange 
    - specifically conforms to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/), except that it does not include capabilities interaction 
    - TBC does it use FHIR UK Core?
    
    You do not need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example `/CarePlan` not `/care-plans`
    - array names are singular, for example `entry` not `entries` for FHIR bundle entries
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and SDKs available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.

    ## Network access 
    Your API must be available on the internet. 

    ## Security and authorisation 
    Your API must use TLS-MA for security.
    
    TBC details
    
    In the future, we're planning to change the security to use OAuth 2.0.

    ## Capacity and response times
    Your API must be capable:
    - responding to requests within 400ms (at the 95th percentile)
    - at a throughput of 100 transactions per second
    
    ## Environments and testing 
    You'll need to deploy your API into a number test environments.
    
    For more details, see the 'Testing' section in [Building healthcare software – patient access to referrals and bookings](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings).

    ## Onboarding 
    To onboard to this API standard, see [Secondary care booking systems (onboarding section)](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings#secondary-care-booking-systems).
  
  contact:
    name: 'patient-care-aggregator-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
x-spec-publication:
  try-this-api:
    disabled: true
servers:
  - url: 'https://integration.servita-demo.co.uk'
    description: Connectivity and data quality test environment.
  - url: 'https://aos.patient-care-aggregator.com'
    description: End-to-end test environment.
  - url: 'https://prod.patient-care-aggregator.com'
    description: Production environment.
paths:
  /fhir/R4/Appointment:
    get:
      security:
        - bearerAuth: []
      tags:
      - GET Appointments
      summary: "Note: this is an example path. You may use a different path if required."
      parameters:
      - name: Authorization
        in: header
        required: true
        description: 'Authorization Header. The NHS Login ID Token passed as a Bearer token. This is generated when the user logs into NHS App via NHS Login as passed to this API for validation and signature verification.'
        schema:
          type: string
      - name: x-correlation-id
        in: header
        required: true
        description: 'Header parameter. A GUID, e.g. 8772a09a-8d55-4514-8d8b-a1526055c599, that is logged by all the Wayfinder services that process the request. Used for end-to-end debugging.'
        schema:
          type: string
      - name: patient:identifier
        in: query
        required: true
        description: 'Query parameter. The NHS Number of the patient, passed as a FHIR patient identifier, e.g. patient:identifier=https://fhir.nhs.uk/Id/nhs-number|9726779057. '
        schema:
          pattern: ^https:\/\/fhir\.nhs\.uk\/Id\/nhs-number\|[1-9][0-9]{9}$
          type: string
      responses:
        200:
          description: Successful
          content:
            'application/json':
              schema:
                description: A FHIR bundle containing results of the request.
                type: object
                required:
                  - resourceType
                  - type
                  - entry
                properties:
                  resourceType:
                    description: "FHIR resource type is Bundle"
                    type: string
                    enum:
                      - "Bundle"
                  type:
                    description: Bundle type is collection
                    type: string
                    enum:
                      - "collection"
                  entry:
                    type: array
                    items:
                      description: Appointment FHIR resource
                      type: object
                      required: 
                        - resourceType
                        - identifier
                        - status
                        - description
                        - start
                        - end
                        - participant
                      properties:
                        resourceType:
                          description: "FHIR resource type of Appointment"
                          type: string
                          enum:
                            - Appointment     
                        id:
                          description: "Portal ID of Appointment"
                          type: string
                          example: "b710e648-c12e-4f66-80e2-9957a254900f"
                        extension:
                          description: "Extensions for Priority [Optional], Request Status [Required], Appointment Status [Required], Consultation Medium [Required] and Deeplink [Required]"
                          type: array
                          items:
                            anyOf: 
                              - description: "NHS Priority"
                                type: object
                                properties:
                                  url:
                                    type: string
                                    enum:
                                      - "https://fhir.nhs.uk/StructureDefinition/Extension-ServiceRequest-Priority"
                                  valueCoding:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        enum: 
                                          - "https://fhir.nhs.uk/CodeSystem/eRS-Priority"
                                      code:
                                        type: string
                                        enum:
                                          - 'URGENT'
                                          - 'ROUTINE'
                                          - 'TWO_WEEK_WAIT'
                              - description: "The status of the appointments as per the source system"
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    enum:
                                      - "https://servita.com/fhir/StructureDefinition/ExtensionAppointmentStatus"
                                  valueCode:
                                    type: string
                                    enum:
                                      - "Pending Change"
                                      - "Pending Reschedule"
                                      - "Pending Cancellation"
                                      - "Pending Attendance"
                              - description: "Used if 'dumb booking' is supported. E.g. when a patient requests to cancel an appointment but the source system status is still booked."
                                type: object
                                properties:
                                  url:
                                    type: string
                                    enum:
                                      - 	https://fhir.nhs.uk/StructureDefinition/Extension-Appointment-RequestStatus
                                  valueCode:
                                    type: string
                                    enum:
                                      - Pending Change 
                                      - Pending Reschedule 
                                      - Pending Cancellation 
                                      - Confirmed Attendance                                
                              - description: "Whether visit is face-to-face or remote"
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    enum:
                                      - "https://fhir.nhs.uk/StructureDefinition/Extension-Consultation-Medium"
                                  valueCode:
                                    type: string
                                    enum:
                                      - "FACE_TO_FACE"
                                      - "VIRTUAL"
                              - description: "Deeplink to appointment in portal system"
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    enum:
                                      - "https://fhir.nhs.uk/StructureDefinition/Extension-Portal-Link"
                                  valueCode:
                                    type: string
                                    example: "https://wayfinder.example-pep.com/fhir/Appointment/770DA42C-C8F2-A5F7-6185-40EE9409B494"
                        identifier:
                          type: array
                          items:
                            anyOf:
                              - description: "Source System ID"
                                type: object
                                properties:
                                  system:
                                    description: "Source system UUID"
                                    type: string
                                    example: "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/Appointment"
                                  code:
                                    description: "Source Appointment ID"
                                    type: string
                                    example: "4817508"
                              - description: "Portal System ID"
                                type: object
                                properties:
                                  system:
                                    description: "Portal system UUID"
                                    type: string
                                    example: "https://sandbox.patientsknowbest.com/fhir/Appointment"
                                  code:
                                    description: "Portal Appointment ID"
                                    type: string
                                    example: "3a146c43-2b21-44e9-95bc-6f4849e504c8"
                        specialty:
                          type: array
                          items:
                            oneOf:
                              - type: object
                                properties:
                                  coding:
                                    type: array
                                    items:
                                      oneOf:
                                        - type: object
                                          properties:
                                            system: 
                                              type: string
                                              enum:
                                                - "https://fhir.nhs.uk/STU3/CodeSystem/Specialty-1"
                                            code:
                                              description: "Three-digit NHS Specialty Code. Equivalent to NHS Data Dictionary Treatment Function Code"
                                              type: string
                                              example: "330"
                                            display:
                                              description: "NHS Specialty Name"
                                              type: string
                                              example: "DERMATOLOGY"
                        status:
                          description: "Booking status of Appointment"
                          type: string
                          enum:
                            - proposed
                            - pending
                            - booked
                            - arrived
                            - fulfilled
                            - cancelled
                            - noshow
                            - entered-in-error
                            - checked-in
                            - waitlist
                        description:
                          description: "Portal description of appointment"
                          type: string
                          example: "Dermatology New"
                        start:
                          description: "Start date/time of appointment in local time zone"
                          type: string
                          example: "2021-06-13T12:30:00+00:00"
                        end:
                          description: "End date/time of appointment in local time zone"
                          type: string
                          example: "2021-06-13T12:45:00+00:00"
                        slot:
                          description: "Slot USRN and internal ID"
                          type: array
                          items: 
                            anyOf:
                              - description: "USRN"
                                type: object
                                properties:
                                  identifier:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        enum:
                                          - "https://fhir.nhs.uk/Id/USRN"
                                      value:
                                        type: string
                                        example: "000000000000"
                              - description: "Source System Slot ID"
                                type: object
                                properties:
                                  identifier:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        enum:
                                          - "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/Slot"
                                      value:
                                        type: string
                                        example: "65468756"
                        basedOn:
                          type: array
                          items:
                            type: object
                            properties:
                              identifier:
                                type: array
                                items: 
                                  anyOf:
                                    - description: "UBRN"
                                      type: object
                                      properties:
                                        system:
                                          type: string
                                          enum:
                                            - "https://fhir.nhs.uk/Id/UBRN"
                                        value:
                                          type: string
                                          example: "000000000001"
                                    - description: "Referral ID"
                                      type: object
                                      properties:
                                        system:
                                          type: string
                                          example: "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/ServiceRequest"
                                        value:
                                          type: string
                                          example: "265413"
                                    - description: "Pathway ID"
                                      type: object
                                      properties:
                                        system:
                                          type: string
                                          example: "https://fhir-open.cerner.com/PathwayId"
                                        value:
                                          type: string
                                          example: "RBH5644312231"               
                        participant:
                          type: array
                          items:
                            anyOf:
                              - description: 'Patient. Only populated if the patient is in attendance, i.e. not for hidden appointments'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Patient"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/nhs-number"
                                          value:
                                            type: string
                                            example: "0000000001"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action
                              - description: 'Attending clinican [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Practitioner"
                                      display:
                                        type: string
                                        example: "Dr. John Doe"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/sds-user-id"
                                          value:
                                            type: string
                                            example: "999999999"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action
                              - description: 'Portal Healthcare Service. [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "HealthcareService"
                                      display:
                                        type: string
                                        example: "Dermatology Check-up"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action                                    
                              - description: 'Source System Healthcare Service [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "HealthcareService"
                                      display:
                                        type: string
                                        example: "Dematology New Appointment"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            example: "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/HealthcareService"
                                          value:
                                            type: string
                                            example: "4817508"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action
                              - description: 'e-RS Service ID [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "HealthcareService"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/ers-service"
                                          value:
                                            type: string
                                            example: "4817508"
                                      display:
                                        type: string
                                        example: "General Dermatology - Main OPD - Barnsley NHS Foundation Trust - RFF"

                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action                                                                   
                              - description: 'ODS Code [Required]'
                                type: object
                                required: 
                                  - actor
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Location"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/ods-organization-code"
                                          value:
                                            type: string
                                            example: "RFF"
                                      display:
                                        type: string
                                        example: "BARNSLEY HOSPITAL NHS FOUNDATION TRUST"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action        
                              - description: 'Appointment Location [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Location"
                                      display:
                                        type: string
                                        example: "Main Outpatients Department, 101 Main Road, London EC1 1AB"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action                                                           
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer                            