# This is an OpenAPI Specification (https://swagger.io/specification/) 
# for patient-care-aggregator-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: "Patient Care Aggregator Record Service API"
  version: "1.0.1"
  description: |
    ## Overview 
    ![Patient Care Aggregator Get Appointments API Standard context diagram](https://digital.nhs.uk/binaries/content/gallery/website/developer/api-catalogue/patient-care-aggregator-fhir-api/patient-care-aggregator-record-service-api-context-diagram.svg?raw=true)

    Use this API, as a secondary care provider, to let the Patient Care Aggregator know which patients you have bookings for. 

    The Patient Care Aggregator needs this information in advance so it knows which secondary care providers to ask for a list of bookings when a patient requests the list using the NHS App. 

    As a secondary care provider, you’ll also need to: 
    - build an API using the [Patient Care Aggregator Get Applications API standard](https://digital.nhs.uk/developer/api-catalogue/patient-care-aggregator-get-appointments/patient-care-aggregator-get-appointments-api-standard) that the Patient Care Aggregator can use to get a list of bookings for a patient
    - build a ‘patient portal’ web application that the patient can access via a hyperlink from the NHS App 

    For more details, see [Building healthcare software – patient access to referrals and bookings](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings). 

    ## Who can use this API 
    You can only use this API if you are integrating a secondary care booking system with our Patient Care Aggregator. 

    ## API status 
    This API is in [beta](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses),
    meaning it is available for use in production but might be subject to breaking changes.

    ## Service level 
    This API is a gold service, meaning it is operational and supported 24 x 7 x 365. 

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels). 

    ## Technology 
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    ## Network access
    This API is available on the internet and, indirectly, on the Health and Social Care Network (HSCN). 

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis). 

    ## Security and authorisation 
    This API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis).
    
    It uses API key authentication, so you'll need to pass an API key with each API request. The API key is unique to your application.
    
    This API doesn't use our standard API platform API keys - you'll have to request an API key from us. You'll need a separate API key per environment.
    
    To see how to include the API key with your API request, see the endpoint description below.

    You'll also need a client ID to include with each request. You'll need to request this from us.

    ## Environments and testing 

    | Environment                         | Base URL                                                               |
    | ------------------------------------| ---------------------------------------------------------------------- |
    | Sandbox                             | `https://integration.servita-demo.co.uk`                               |
    | Integration test                    | `TBC`                         |
    | Performance test                    | `https://aos-base.patient-care-aggregator.com`                         |
    | End-to-end test                     | `https://aos-base.patient-care-aggregator.com`                         |
    | Production                          | `https://prod-base.patient-care-aggregator.com`                        |

    For more details on how to use these environments,
    see the 'Testing' section in [Building healthcare software – patient access to referrals and bookings](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings).

    ## Onboarding 
    To onboard to this API, see [Secondary care booking systems (onboarding section)](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings#secondary-care-booking-systems).

  contact:
    name: 'patient-care-aggregator-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
x-spec-publication:
  try-this-api:
    disabled: true
servers:
  - url: 'https://integration.servita-demo.co.uk'
    description: Sandbox environment.
  - url: 'https://aos-base.patient-care-aggregator.com'
    description: End-to-end test environment.
  - url: 'https://prod-base.patient-care-aggregator.com'
    description: Production environment.
paths:
  /status:
    get:
      summary: "Check service status"
      operationId: get-status
      description: |
        Use this endpoint to get the current status of the API.
      responses:
        default:
          description: Successful
  /records:
    post:
      summary: "Send patient list"
      operationId: post-records
      description: |
        ## Overview
        Use this endpoint to send a list of NHS numbers to the Patient Care Aggregator so it knows which patients you have appointments for.

        ## Inclusion and exclusion rules
        Only send NHS numbers for patients where you have appointments that would be returned by your [Get Appointments API](https://digital.nhs.uk/developer/api-catalogue/patient-care-aggregator-get-appointments/patient-care-aggregator-get-appointments-api-standard),
        based on the appointment inclusion and exclusion rules for that API.
        
        ## Batching and timing rules
        When your service first goes live, send an initial batch of NHS numbers for all existing appointments.
        
        When a new appointment is booked, and if the Patient Care Aggregator doesn't already know about the patient, send the patient's NHS number immediately.

        If a request to this endpoint fails, keep track of which NHS numbers you haven't yet sent, and re-send them, using an appropriate back-off timing scheme.

        This endpoint is idempotent - you may send the same NHS Number multiple times. In general, try to avoid this by keeping track of which NHS numbers you have already sent it.
        
        On request, at any time, you must be able to re-send a full list of NHS numbers for all existing appointments.
        If this takes some time to complete, you must also contime to send NHS numbers for new appointments in real time.

        ## Timeout
        This endpoint times out after 30s, returning HTTP status 504.
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token/API Key allocated by us
          schema:
            type: string
            example: Bearer 6b882ddf-82f5-4611-9390-71ca6a045a60
      requestBody:
        description: 'Your Client ID and an array of one or more NHS Numbers for which you are notifying Wayfinder that you have data.'
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  type: string
                  description: 'A unique identifier for the calling system, provided by us.'
                  example: 'pep-01'
                nhsNumbers:
                  type: array
                  description: A list of NHS numbers for patients with qualitying appointments.
                  items: 
                    type: string
                    example: '9000000009'
            example:
              $ref: components/examples/RecordServiceSendPatientListRequest.json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum: 
                      - success
              example:
                $ref: components/examples/RecordServiceSendPatientListResponseHappyPath.json
        '4XX':
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 400         | `error.bad-request`        | Bad request due to invalid JSON, invalid NHS number(s) or bearer token/API key not matching client ID in payload.	|
            | 401         | `error.unauthorized`       | Unauthorized due to unrecognised bearer token/API key. |
          
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - "error.bad-request"
                      - 'error.unauthorized'
                  data:
                    type: string
                    example: 'clientId mismatch'
              example:
                $ref: components/examples/RecordServiceSendPatientListResponseError.json
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
