# This is an OpenAPI Specification (https://swagger.io/specification/) 
# for patient-care-aggregator-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: "Patient Care Aggregator Get Appointment, Documents and Questionnaires API Standard"
  version: "1.0.3"
  description: |
    ## Overview 
    ![Patient Care Aggregator Get Portal Appointment, Documents and Questionnaires API Standard context diagram](https://digital.nhs.uk/binaries/content/gallery/website/developer/api-catalogue/patient-care-aggregator-fhir-api/patient-care-aggregator-get-appointments-api-standard.svg?raw=true)

    Use this API standard, as a secondary care provider, to build an API that the Patient Care Aggregator can use to get a list of bookings for a patient. 

    The Patient Care Aggregator aggregates this information with similar information from other providers before returning them to the NHS App for the patient to see. 

    As a secondary care provider, you’ll also need to: 
    - use the [Patient Cate Aggregator Record Service API](https://digital.nhs.uk/developer/api-catalogue/patient-care-aggregator-record-service/patient-care-aggregator-record-service-api) to let the let the Patient Care Aggregator know which patients you have bookings for 
    - build a ‘patient portal’ web application that the patient can access via a hyperlink from the NHS App 

    For more details, see [Patient access to referrals and bookings via the Patient Care Aggregator](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-care-aggregator).

    ## Who can use this API standard 
    You can only use this API standard if you are integrating a secondary care booking system with our Patient Care Aggregator. 

    ## Status 
    This API standard is in [beta](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning it is available for use but might be subject to breaking changes.

    ## Service level 
    Your API must be a gold service, meaning it is operational and supported 24 x 7 x 365. 

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels). 

    ## Technology
    This API standard is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).
    
    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir)
    global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/),
    except that it does not support the [capabilities](http://hl7.org/fhir/R4/http.html#capabilities) interaction.
    
    It includes some country-specific FHIR extensions, which have been built against [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core).
    
    You do not need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example `/CarePlan` not `/care-plans`
    - array names are singular, for example `entry` not `entries` for FHIR bundle entries
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object
    
    There are [libraries and SDKs available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.
    
    ## Network access 
    Your API must be available on the internet. 

    ## Security and authorisation
    Your API must use OAuth 2.0 to authenticate and authorise the Patient Care Aggregator as the calling system.
    
    This replaces the previous authentication and authorisation method which was TLS-MA.
    
    For more details, see [Authorisation using OAuth 2.0](https://digital.nhs.uk/developer/api-catalogue/patient-care-aggregator-get-appointments/authorisation-using-oauth-2.0).
    
    ## Environments and testing 
    You'll need to deploy your API into a number of test environments.
    
    For more details, see the 'Testing' section in [Integrating a secondary care booking system with the Patient Care Aggregator](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-care-aggregator/integrating-a-secondary-care-booking-system#4-test-your-software).

    ## Onboarding 
    To onboard to this API standard, see [Integrating a secondary care booking system (onboarding section)](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-care-aggregator/integrating-a-secondary-care-booking-system#5-complete-onboarding).
  
  contact:
    name: 'patient-care-aggregator-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
x-spec-publication:
  try-this-api:
    disabled: true
servers:
  - url: 'https://integration.servita-demo.co.uk'
    description: Sandbox environment.
  - url: 'https://aos.patient-care-aggregator.com'
    description: End-to-end test environment.
  - url: 'https://prod.patient-care-aggregator.com'
    description: Production environment.
paths:
  /FHIR/R4/Appointment:
    get:
      security:
        - bearerAuth: []
      summary: "Get appointments"
      description: |
        ## Overview
        This endpoint returns a list of appointments from a secondary care booking system for a given patient.
        It returns the appointments as a FHIR 'Bundle' containing FHIR 'Appointment' resources.
        
        Note that the above URL path is an example - you can use a different URL path if you prefer.
        
        ## Appointment inclusion and exclusion rules
        The endpoint includes / excludes appointments as per the following rules:
        - NHS in England only: Only include appointments for care settings within the NHS in England.
        - Acute care settings only: Only include appointments for acute care settings, not any other type.
        - Outpatient apointments only: Only include outpatient appointments, not any other type.
        - Information governance: Only include appointments for care settings where you have a legal agreement in place to handle their data.
        - Excluded patients (Trust) (SRCBR1a): Exclude appointments for patients flagged from/within a Trust as not being allow access via a portal (as marked in PAS system).
        - Excluded patients (PDS) (SRCBR1b): Appointments for patients flagged with an sensitive / restricted within PDS must be filtered out from the feed to the Aggregator.
        - Excluded clinics (SRCBR2): Appointments at clinics where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Encounter types (SRCBR3): Only outpatient appointments where attendance is required virtually or face-to-face must be sent to the Aggregator i.e. hidden appointments and appointments at ghost clinics are filtered out.
        - Excluded specialities (SRCBR4): Appointments for certain specialities where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Ghost appointments: Exclude appointments that are booked in the system but which the patient is not expected to attend - known as 'ghost' appointments.
        - Future cancelled appointments: Include appointments that are future-dated and cancelled - this allows the patient to confirm that the appointment has been cancelled and knows not to attend.
        - Under 16s: Exclude patients under 16.

        ## Patients with no appointments
        Where a patient has no appointments, including where appointments have been excluded due to the various exclusion rules above, the endpoint returns a 'happy path'
        response with an HTTP status of 200 and a FHIR Bundle with no appointments in it.

        ## Capacity and response times
        Your endpoint must be capable of:
        - responding to requests within 400ms (at the 95th percentile)
        - at a throughput of 25 transactions per second

        ## Diagnostic logging
        - All requests to the endpoint must be logged for diagnostic purposes.
        - Log records must include the `X-Correlation ID`.
        - Log records must be identifiable as having come from the Patient Care Aggregator.
        - Personally identifiable and clinical information must be omitted from logs in production.
        - Log records must be held for a minimum of 90 days.
        - Alerts with suitable thresholds must be in place to flag error conditions

        ## Error and fault responses
        Your API must return appropriate HTTP error and fault codes. The schema for a 200 success response is detailed in this specification. However, we do not mandate any particular format for 3xx, 4xx or 5xx responses. We do ask that you include an error message in the response payload explaining clearly what went wrong. This helps us to understand and triage the issue faster. It also helps to avoid unnecesary requests to your live support team in the case where the issue is caused by a problem with the Patient Care Aggregator API.

      operationId: get-appointments
      parameters:
        - name: NHSD-ID-Token
          in: header
          required: true
          description: |
            An NHS login ID token for the end user patient, passed as header called NHSD-ID-Token
            This is generated when the user logs into NHS App via NHS login as passed to this API for validation and signature verification.
            You must verify this token with NHS login and confirm that it is for the right patient and that the patient is authenticated to level P9.
            For more details, see [NHS login for partners and developers](https://digital.nhs.uk/services/nhs-login/nhs-login-for-partners-and-developers).
          schema:
            type: string
        - name: x-correlation-id
          in: header
          required: true
          description: 'A GUID that is logged by all the Wayfinder services that process the request. Used for end-to-end debugging.'
          schema:
            type: string
            example: 8772a09a-8d55-4514-8d8b-a1526055c599
        - name: patient:identifier
          in: query
          required: true
          description: |
            The patient's NHS number.
          schema:
            type: string
            pattern: ^https:\/\/fhir\.nhs\.uk\/Id\/nhs-number\|[1-9][0-9]{9}$
            example: "https://fhir.nhs.uk/Id/nhs-number|9000000009"          
      responses:
        200:
          description: A successful request.
          content:
            'application/json':
              example:
                $ref: "components/examples/GetAppointmentResponseHappyPath.json"
              schema:
                $ref: "components/schemas/GetAppointmentResponseHappyPath.yaml"
  /FHIR/R4/DocumentReference:
    get:
      security:
        - bearerAuth: []
      summary: "Get DocumentReferences"
      description: |
        ## Overview
        This endpoint returns a list of documents from a secondary care booking system for a given patient.
        It returns the document references as a FHIR 'Bundle' containing FHIR 'DocumentReference' resources.
        
        Note that the above URL path is an example - you can use a different URL path if you prefer.
        
        ## DocumentReference inclusion and exclusion rules
        The endpoint includes / excludes documents as per the following rules:
        - NHS in England only: Only include documents related to appointments for care settings within the NHS in England.
        - Acute care settings only: Only include documents related to appointments for acute care settings, not any other type.
        - Outpatient apointments only: Only include documents related to outpatient appointments, not any other type.
        - Information governance: Only include documents related to appointments for care settings where you have a legal agreement in place to handle their data.
        - Excluded patients (Trust) (SRCBR1a): Exclude documents related to appointments for patients flagged from/within a Trust as not being allow access via a portal (as marked in PAS system).
        - Excluded patients (PDS) (SRCBR1b): Documents for patients flagged with an sensitive / restricted within PDS must be filtered out from the feed to the Aggregator.
        - Excluded clinics (SRCBR2): Documents related to appointments at clinics where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Encounter types (SRCBR3): Only documents related to outpatient appointments where attendance is required virtually or face-to-face must be sent to the Aggregator i.e. hidden appointments and appointments at ghost clinics are filtered out.
        - Excluded specialities (SRCBR4): Documents related to appointments for certain specialities where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Under 16s: Exclude patients under 16.

        ## Patients with no document references
        Where a patient has no document references, including where document references have been excluded due to the various exclusion rules above, the endpoint returns a 'happy path'
        response with an HTTP status of 200 and a FHIR Bundle with no document references in it.

        ## Capacity and response times
        Your endpoint must be capable of:
        - responding to requests within 400ms (at the 95th percentile)
        - at a throughput of 25 transactions per second

        ## Diagnostic logging
        - All requests to the endpoint must be logged for diagnostic purposes.
        - Log records must include the `X-Correlation ID`.
        - Log records must be identifiable as having come from the Patient Care Aggregator.
        - Personally identifiable and clinical information must be omitted from logs in production.
        - Log records must be held for a minimum of 90 days.
        - Alerts with suitable thresholds must be in place to flag error conditions

        ## Error and fault responses
        Your API must return appropriate HTTP error and fault codes. The schema for a 200 success response is detailed in this specification. However, we do not mandate any particular format for 3xx, 4xx or 5xx responses. We do ask that you include an error message in the response payload explaining clearly what went wrong. This helps us to understand and triage the issue faster. It also helps to avoid unnecesary requests to your live support team in the case where the issue is caused by a problem with the Patient Care Aggregator API.

      operationId: get-document-references
      parameters:
        - name: NHSD-ID-Token
          in: header
          required: true
          description: |
            An NHS login ID token for the end user patient, passed as a header called NHSD-ID-Token token.
            This is generated when the user logs into NHS App via NHS login as passed to this API for validation and signature verification.
            You must verify this token with NHS login and confirm that it is for the right patient and that the patient is authenticated to level P9.
            For more details, see [NHS login for partners and developers](https://digital.nhs.uk/services/nhs-login/nhs-login-for-partners-and-developers).
          schema:
            type: string
        - name: x-correlation-id
          in: header
          required: true
          description: 'A GUID that is logged by all the Wayfinder services that process the request. Used for end-to-end debugging.'
          schema:
            type: string
            example: 8772a09a-8d55-4514-8d8b-a1526055c599
        - name: patient:identifier
          in: query
          required: true
          description: |
            The patient's NHS number.
          schema:
            type: string
            pattern: ^https:\/\/fhir\.nhs\.uk\/Id\/nhs-number\|[1-9][0-9]{9}$
            example: "https://fhir.nhs.uk/Id/nhs-number|9000000009"          
      responses:
        200:
          description: A successful request.
          content:
            'application/json':
              example:
                $ref: "components/examples/GetDocumentReferencesResponseHappyPath.json"
              schema:
                $ref: "components/schemas/GetDocumentReferencesResponseHappyPath.yaml"
  /FHIR/R4/Task:
    get:
      security:
        - bearerAuth: []
      summary: "Get tasks"
      description: |
        ## Overview
        This endpoint returns a list of tasks for for completion of questionnaires from a secondary care booking system for a given patient.
        It returns the tasks as a FHIR 'Bundle' containing FHIR 'Task' resources.
        
        Note that the above URL path is an example - you can use a different URL path if you prefer.
        
        ## Questionnaires inclusion and exclusion rules
        The endpoint includes / excludes tasks as per the following rules:
        - NHS in England only: Only include tasks related to appointments for care settings within the NHS in England.
        - Acute care settings only: Only include tasks related to appointments for acute care settings, not any other type.
        - Outpatient apointments only: Only include tasks related to outpatient appointments, not any other type.
        - Information governance: Only include tasks related to appointments for care settings where you have a legal agreement in place to handle their data.
        - Excluded patients (Trust) (SRCBR1a): Exclude tasks related to appointments for patients flagged from/within a Trust as not being allow access via a portal (as marked in PAS system).
        - Excluded patients (PDS) (SRCBR1b): Tasks for patients flagged with an sensitive / restricted within PDS must be filtered out from the feed to the Aggregator.
        - Excluded clinics (SRCBR2): Tasks related to appointments at clinics where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Encounter types (SRCBR3): Only tasks related to outpatient appointments where attendance is required virtually or face-to-face must be sent to the Aggregator i.e. hidden appointments and appointments at ghost clinics are filtered out.
        - Excluded specialities (SRCBR4): Tasks related to appointments for certain specialities where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Under 16s: Exclude patients under 16.

        ## Patients with no tasks
        Where a patient has no tasks, including where tasks have been excluded due to the various exclusion rules above, the endpoint returns a 'happy path'
        response with an HTTP status of 200 and a FHIR Bundle with no tasks in it.

        ## Capacity and response times
        Your endpoint must be capable of:
        - responding to requests within 400ms (at the 95th percentile)
        - at a throughput of 25 transactions per second

        ## Diagnostic logging
        - All requests to the endpoint must be logged for diagnostic purposes.
        - Log records must include the `X-Correlation ID`.
        - Log records must be identifiable as having come from the Patient Care Aggregator.
        - Personally identifiable and clinical information must be omitted from logs in production.
        - Log records must be held for a minimum of 90 days.
        - Alerts with suitable thresholds must be in place to flag error conditions

        ## Error and fault responses
        Your API must return appropriate HTTP error and fault codes. The schema for a 200 success response is detailed in this specification. However, we do not mandate any particular format for 3xx, 4xx or 5xx responses. We do ask that you include an error message in the response payload explaining clearly what went wrong. This helps us to understand and triage the issue faster. It also helps to avoid unnecesary requests to your live support team in the case where the issue is caused by a problem with the Patient Care Aggregator API.

      operationId: get-tasks
      parameters:
        - name: NHSD-ID-Token
          in: header
          required: true
          description: |
            An NHS login ID token for the end user patient, passed as a header called NHSD-ID-Token token.
            This is generated when the user logs into NHS App via NHS login as passed to this API for validation and signature verification.
            You must verify this token with NHS login and confirm that it is for the right patient and that the patient is authenticated to level P9.
            For more details, see [NHS login for partners and developers](https://digital.nhs.uk/services/nhs-login/nhs-login-for-partners-and-developers).
          schema:
            type: string
        - name: x-correlation-id
          in: header
          required: true
          description: 'A GUID that is logged by all the Wayfinder services that process the request. Used for end-to-end debugging.'
          schema:
            type: string
            example: 8772a09a-8d55-4514-8d8b-a1526055c599
        - name: patient.identifier
          in: query
          required: true
          description: |
            The patient's NHS number.
          schema:
            type: string
            pattern: ^https:\/\/fhir\.nhs\.uk\/Id\/nhs-number\|[1-9][0-9]{9}$
            example: "https://fhir.nhs.uk/Id/nhs-number|9000000009"          
      responses:
        200:
          description: A successful request.
          content:
            'application/json':
              example:
                $ref: "components/examples/GetTasksResponseHappyPath.json"
              schema:
                $ref: "components/schemas/GetTaskResponseHappyPath.yaml"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
