# This is an OpenAPI Specification (https://swagger.io/specification/)
# for patient-care-aggregator-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: "Patient Care Aggregator API"
  version: "1.0.0"
  description: |
    ## Overview
    Use this API to get an aggregated list of referrals and bookings at secondary care providers.
    
    The API aggregates details of referrals and bookings from the following systems:
    - e-Referrals Service (referrals and bookings)
    - DrDoctor (bookings only)
    - Patient Knows Best (bookings only)
    
    Other providers may be added in the future.
    
    This API is only for use in patient-facing applications, not in point-of-care applications.
    
    ## Who can use this API
    Currently, this API is for internal use only - the only API consumer is the NHS App.
    
    If you are interested in using this API, [contact us](https://digital.nhs.uk/developer/help-and-support).
    
    ## API status and roadmap
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:
    - it's available for testing
    - it's not available in production
    - we might make breaking changes
    
    ## Service level
    The [service level](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels) for this API will be confirmed once it moves into production.
    
    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    It also conforms to:
    - [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir), a global standard for health care data exchange
    - [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core) for UK-specific extensions to FHIR

    You do not need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example `/CarePlan` not `/care-plans`
    - array names are singular, for example `entry` not `entries` for FHIR bundle entries
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and SDKs available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.

    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    
    ## Security and authorisation
    This access mode is [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis), meaning an end user must be present, authenticated and authorised.
    
    The end user must be:
    * a patient who receives health and social care or makes use of NHS services
    * strongly authenticated, using [NHS login](https://digital.nhs.uk/services/nhs-login)
     
    To use this access mode, use one of the following security patterns:
    
    |	Security pattern		                                                                                                                                                                                                          |	Technical details	                                  |	Advantages	                                                | Disadvantages                                           |
    |-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------| ----------------------------------------------------| ------------------------------------------------------------|---------------------------------------------------------|
    |[NHS login - combined authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-login-combined-authentication-and-authorisation) |OAuth 2.0 authorisation code with API key and secret |No need to integrate and onboard separately with NHS login.  |No access to user information.                           |
    |[NHS login - separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-login-separate-authentication-and-authorisation) |OAuth 2.0 token exchange with signed JWT             |Gives access to user information.                            |Need to integrate and onboard separately with NHS login. |
    
    ## Environments and testing
    | Environment       | Base URL                                                                      |
    | ----------------- | ----------------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/patient-care-aggregator-api/FHIR/R4/`     |
    | Integration test  | `https://int.api.service.nhs.uk/patient-care-aggregator-api/FHIR/R4/`         |
    | Production        | Not yet available                                                             |    

    TBC confirm the URLs are correct including the FHIR/R4 bit
    TBC URL shouldn't have "-api" as a suffix

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is open access, so does not allow you to test authorisation
    
    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.
    
    TBC is there actually a sandbox?
    TBC do we provide sandbox scenarios?

    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    * is for formal integration testing
    * includes authorisation

    TBC what test data do we have in place?
    TBC what back-ends is it connected to?
    TBC does it require co-ordination?

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).
    
    ## Onboarding
    You need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.
    
    To onboard for this API, follow the [Supplier Conformance Assessment List (SCAL)](https://digital.nhs.uk/developer/guides-and-documentation/onboarding-process#onboard-using-the-supplier-conformance-assessment-list-scal-process) process.
    
    To get started with the SCAL process for this API, [contact us](https://digital.nhs.uk/developer/help-and-support)
    
  contact:
    name: 'patient-care-aggregator-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/patient-care-aggregator-api'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/patient-care-aggregator-api'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/patient-care-aggregator-api'
    description: Production environment.
paths:
  /CarePlan:
    get:
# TBC check it's actually a GET
      summary: Get referrals and bookings
      operationId: get-referrals-and-bookings
      description: |
        TBC.
      parameters:
        - name: patient.identifier
          in: query
          description: |
            The patient's NHS number.
            Expressed as `<type>|<value>` where `<type>` must be `https://fhir.nhs.uk/Id/nhs-number` and `<value>` must be a [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).
          required: true
          schema:
            type: string
            example: "https://fhir.nhs.uk/Id/nhs-number|9000000009"
        - name: Authorization
          in: header
          description: |
            An OAuth 2.0 bearer token, obtained using our [NHS login pattern](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-login-separate-authentication-and-authorisation).
          required: true
          schema:
            type: string
            format: '^Bearer\ [[:ascii:]]+$'
            example: 'Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM'
        - name: X-Request-ID
# TBC Confluence page says "Id" but our standard is "ID" - presume not case sensitive
          in: header
          required: false
# TBC Confluence page says required, but our standard is it's optional
          description: |
            A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.

            Must be a universally unique identifier (UUID) (ideally version 4).
            
            Mirrored back in a response header.
            
            If you re-send a failed request, use the same value in this header.          
          schema:
            type: string
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
        - name: X-Correlation-ID
# TBC Confluence page says "Id" but our standard is "ID" - presume not case sensitive
          in: header
          required: false
# TBC Confluence page says required, but our standard is it's optional
          description: |
            An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.
            
            Mirrored back in a response header.
          schema:
            type: string
            example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
        - name: NHSD-Target-Identifier
          in: header
          required: true
          description: |
            TBC.
          schema:
            type: string
            example: TBC single enum value
      responses:
        '200':
          description: |
            TBC.
#          headers:
#            TBC what response headers are there? I'm expecting at least X-Request-ID and X-Correlation-ID
          content:
            application/fhir+json:   
              schema:
                $ref: "components/schemas/GetCarePlanHappyPathResponse.yaml"
              example:
                $ref: "components/examples/GetCarePlanHappyPathResponse.json"            
# TBC example shows fullUrl as 'https://servita-sandbox.co.uk/CarePlan/1' whereas on other APIs its more like a GUID                
#        '4XX':
#          description: |
#            TBC.
#          headers:
#            TBC what response headers are there? I'm expecting at least X-Request-ID and X-Correlation-ID
#          content:
#            application/fhir+json:   
#              schema:
#                $ref: "components/schemas/TBC.yaml"
#              example:
#                $ref: "components/examples/TBC.json"            
