# This is an OpenAPI Specification (https://swagger.io/specification/) 
# for patient-care-aggregator-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: "Patient Care Aggregator Record Service API"
  version: "1.0.1"
  description: |
    ## Overview 
    ![Patient Care Aggregator Get Appointments API Standard context diagram](https://digital.nhs.uk/binaries/content/gallery/website/developer/api-catalogue/patient-care-aggregator-fhir-api/patient-care-aggregator-get-appointments-api-standard.svg?raw=true)

    Use this API standard, as a secondary care provider, to build an API that the Patient Care Aggregator can use to get a list of bookings for a patient. 

    The Patient Care Aggregator aggregates this information with similar information from other providers before returning them to the NHS App for the patient to see. 

    As a secondary care provider, you’ll also need to: 
    - use the [Patient Cate Aggregator Record Service API](https://digital.nhs.uk/developer/api-catalogue/patient-care-aggregator-record-service/patient-care-aggregator-record-service-api) to let the let the Patient Care Aggregator know which patients you have bookings for 
    - build a ‘patient portal’ web application that the patient can access via a hyperlink from the NHS App 

    For more details, see [Building healthcare software – patient access to referrals and bookings](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings).

    ## Who can use this API standard 
    You can only use this API standard if you are integrating a secondary care booking system with our Patient Care Aggregator. 

    ## Status 
    This API standard is in [beta](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning it is available for use but might be subject to breaking changes.

    ## Service level 
    Your API must be a gold service, meaning it is operational and supported 24 x 7 x 365. 

    For more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels). 

    ## Technology
    This API standard is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).
    
    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir)
    global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/),
    except that it does not support the [capabilities](http://hl7.org/fhir/R4/http.html#capabilities) interaction.
    
    It includes some country-specific FHIR extensions, which have been built against [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core).
    
    You do not need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example `/CarePlan` not `/care-plans`
    - array names are singular, for example `entry` not `entries` for FHIR bundle entries
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object
    
    There are [libraries and SDKs available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.
    
    ## Network access 
    Your API must be available on the internet. 

    ## Security and authorisation 
    Your API must:
    - use TLS-MA to authenticate the Patient Care Aggregator as the calling system
    - use Open ID Connect (OIDC) to authenticate the patient end user
    
    For details of how to implement TLS-MA, [contact us](https://digital.nhs.uk/developer/help-and-support).
    
    For OIDC, the Patient Care Aggregator includes an `Authorization` header with each request to the API. This contains an NHS login ID token.
    You must verify this token with NHS login and confirm the patient is authenticated to P9 level. For more details, see [NHS login for partners and developers](https://digital.nhs.uk/services/nhs-login/nhs-login-for-partners-and-developers).
    
    In the future, we're planning to change the security to use OAuth 2.0.

    ## Environments and testing 
    You'll need to deploy your API into a number test environments.
    
    For more details, see the 'Testing' section in [Building healthcare software – patient access to referrals and bookings](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings).

    ## Onboarding 
    To onboard to this API standard, see [Secondary care booking systems (onboarding section)](https://digital.nhs.uk/developer/guides-and-documentation/building-healthcare-software/referrals-and-bookings/patient-access-to-referrals-and-bookings#secondary-care-booking-systems).
  
  contact:
    name: 'patient-care-aggregator-api API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
x-spec-publication:
  try-this-api:
    disabled: true
servers:
  - url: 'https://integration.servita-demo.co.uk'
    description: Sandbox environment.
  - url: 'https://aos.patient-care-aggregator.com'
    description: End-to-end test environment.
  - url: 'https://prod.patient-care-aggregator.com'
    description: Production environment.
paths:
  /FHIR/R4/Appointment:
    get:
      security:
        - bearerAuth: []
      summary: "Get appointments"
      description: |
        ## Overview
        This endpoint returns a list of appointments from a secondary care booking system for a given patient.
        It returns the appointments as a FHIR 'Bundle' containing FHIR 'Appointment' resources.
        
        Note that the above URL path is an example - you can use a different URL path if you prefer.
        
        ## Appointment inclusion and exclusion rules
        The endpoint must include / exclude appointments as per the following rules:
        - NHS in England only: Only include appointments for care settings within the NHS in England.
        - Acute care settings only: Only include appointments for acute care settings, not any other type.
        - Outpatient apointments only: Only include outpatient appointments, not any other type.
        - Information governance: Only include appointments for care settings where you have a legal aghreement in place to handle their data.
        - Excluded patients (Trust) (SRCBR1a): Exclude appointments for patients flagged from/within a Trust as not being allow access via a portal (as marked in PAS system).
        - Excluded patients (PDS) (SRCBR1b): Appointments for patients flagged with an sensitive / restricted within PDS must be filtered out from the feed to the Aggregator.
        - Excluded clinics (SRCBR2): Appointments at clinics where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Encounter types (SRCBR3): Only outpatient appointments where attendance is required virtually or face-to-face must be sent to the Aggregator i.e. hidden appointments and appointments at ghost clinics are filtered out.
        - Excluded specialities (SRCBR4): Appointments for certain specialities where a Trust has rules in place for these not to be visible to patients must not be sent to the Aggregator.
        - Ghost appointments: Exclude appointments that are booked in the system but which the patient is not expected to attend - known as 'ghost' appointments.
        - Future cancelled appointments: Include appointments that are future-dated and cancelled - this allows the patient to confirm that the appointment has been cancelled and knows not to attend.

        ## Patients with no appointments
        Where a patient has no appointments, including where appointments have been excluded due to the various exclusion rules above, the endpoint returns a 'happy path'
        response with an HTTP status of 200 and a FHIR Bundle with no appointments in it.

        ## Capacity and response times
        Your endpioint must be capable of:
        - responding to requests within 400ms (at the 95th percentile)
        - at a throughput of 100 transactions per second

        ## Diagnostic logging
        - All requests to the endpoint must be logged for diagnostic purposes.
        - Log records must include the `X-Correlation ID`.
        - Log records must be identifiable as having come from the Patient Care Aggregator.
        - Persionally identifiable and clinical information must be omitted from logs in production.
        - Log records must be held for a minimum of 90 days.
        - Alerts with suitable thresholds must be in place to flag error conditions

      operationId: get-appointments
      parameters:
        - name: Authorization
          in: header
          required: true
          description: |
            An NHS login ID token for the end user patient, passed as a Bearer token.
            This is generated when the user logs into NHS App via NHS login as passed to this API for validation and signature verification.
            You must verify this token with NHS login and confirm that it is for the right patient and that the patient is authenticated to level P9.
            For more details, see [NHS login for partners and developers](https://digital.nhs.uk/services/nhs-login/nhs-login-for-partners-and-developers).
          schema:
            type: string
        - name: x-correlation-id
          in: header
          required: true
          description: 'Header parameter. A GUID, e.g. 8772a09a-8d55-4514-8d8b-a1526055c599, that is logged by all the Wayfinder services that process the request. Used for end-to-end debugging.'
          schema:
            type: string
        - name: patient:identifier
          in: query
          required: true
          description: |
            The patient's NHS number.
          schema:
            type: string
            pattern: ^https:\/\/fhir\.nhs\.uk\/Id\/nhs-number\|[1-9][0-9]{9}$
            example: "https://fhir.nhs.uk/Id/nhs-number|9000000009"          
      responses:
        200:
          description: A successful request.
          content:
            'application/json':
              example:
                $ref: components/examples/GetAppointmentsResponseHappyPath.json
              schema:
                description: FHIR bundle containing results of the request - a list of matching appointments.
                type: object
                required:
                  - resourceType
                  - type
                  - entry
                properties:
                  resourceType:
                    description: "FHIR resource type."
                    type: string
                    enum:
                      - "Bundle"
                  type:
                    description: Bundle type.
                    type: string
                    enum:
                      - "collection"
# Schema at https://nhsd-confluence.digital.nhs.uk/display/WAYF/Appointment+API+Producer+Specification#AppointmentAPIProducerSpecification-FHIRBundleSpecification says the value is "search"
                  entry:
                    description: "List of matching appointments."
                    type: array
                    minItems: 0
                    items:
                      description: An individual appointment.
                      type: object
                      required: 
                        - resourceType
                        - identifier
                        - status
                        - description
                        - start
                        - end
                        - participant
# Should extension be required, given that at least one of the extensions is required?
                      properties:
                        resourceType:
                          description: "FHIR resource type."
                          type: string
                          enum:
                            - Appointment     
                        id:
                          description: "Identifier for the appointment, unique within the secondary care booking system."
                          type: string
# This field is optional - do we actually use it, or do we use identifier? If we don't use it, we could remove it from the spec and make life easier for the implementors
# The example implies it needs to be a GUID, would an integer example be better?
                          example: "b710e648-c12e-4f66-80e2-9957a254900f"
                        extension:
                          description: "FHIR extensions for appointment priority, appointment status, request status, consultation medium and deep link URL."
                          type: array
                          items:
                            anyOf: 
                              - description: "Appointment priority (optional)."
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    description: URI for the type of extension - in this case an appointment priority.
                                    enum:
                                      - "https://fhir.nhs.uk/StructureDefinition/Extension-ServiceRequest-Priority"
                                  valueCoding:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        description: Coding system used for the appointment priority.
                                        enum: 
                                          - "https://fhir.nhs.uk/CodeSystem/eRS-Priority"
                                      code:
                                        type: string
                                        description: The appointment priority code itself.
                                        enum:
                                          - 'URGENT'
                                          - 'ROUTINE'
                                          - 'TWO_WEEK_WAIT'
                              - description: "Appointment status as per the source system (required)."
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    description: URI for the type of extension - in this case an appointment status.
                                    enum:
                                      - "https://servita.com/fhir/StructureDefinition/ExtensionAppointmentStatus"
                                  valueCode:
                                    type: string
                                    description: The appointment status itself.
                                    enum:
                                      - "Pending Change"
                                      - "Pending Reschedule"
                                      - "Pending Cancellation"
                                      - "Pending Attendance"
                              - description: "Request status - used if 'dumb booking' is supported, for example when a patient requests to cancel an appointment but the source system status is still booked (required)."
# The description says this is required, but the wording also implies it's optional - which is it?                              
                                type: object
                                properties:
                                  url:
                                    type: string
                                    description: URI for the type of extension - in this case a request status.
                                    enum:
                                      - 	https://fhir.nhs.uk/StructureDefinition/Extension-Appointment-RequestStatus
                                  valueCode:
                                    type: string
                                    enum:
                                      - Pending Change 
                                      - Pending Reschedule 
                                      - Pending Cancellation 
                                      - Confirmed Attendance                                
                              - description: "Consultation medium - whether visit is face-to-face or remote (required)."
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    description: URI for the type of extension - in this case a consultation medium.
                                    enum:
                                      - "https://fhir.nhs.uk/StructureDefinition/Extension-Consultation-Medium"
                                  valueCode:
                                    type: string
                                    description: The consultation medium itself.
                                    enum:
                                      - "FACE_TO_FACE"
                                      - "VIRTUAL"
                              - description: "Deep link URL to appointment in portal system (required)."
                                type: object
                                required:
                                  - url
                                  - valueCode
                                properties:
                                  url:
                                    type: string
                                    description: URI for the type of extension - in this case a deep link URL.
                                    enum:
                                      - "https://fhir.nhs.uk/StructureDefinition/Extension-Portal-Link"
                                  valueCode:
                                    type: string
                                    description: The deep link URL itself.
                                    example: "https://wayfinder.example-pep.com/fhir/Appointment/770DA42C-C8F2-A5F7-6185-40EE9409B494"
                        identifier:
                          type: array
                          items:
                            anyOf:
                              - description: "Source system ID"
# what is the difference between the source system and the portal system?                              
                                type: object
                                properties:
# If this is an ID, why is it represented as a coded value (system/code)?                                
                                  system:
                                    description: "Source system UUID"
                                    type: string
                                    example: "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/Appointment"
                                  code:
                                    description: "Source Appointment ID"
                                    type: string
                                    example: "4817508"
                              - description: "Portal System ID"
                                type: object
                                properties:
# If this is an ID, why is it represented as a coded value (system/code)?                                
                                  system:
                                    description: "Portal system UUID"
                                    type: string
                                    example: "https://sandbox.patientsknowbest.com/fhir/Appointment"
                                  code:
                                    description: "Portal Appointment ID"
                                    type: string
                                    example: "3a146c43-2b21-44e9-95bc-6f4849e504c8"
                        specialty:
                          type: array
# Min / max array items? 
# description
                          items:
                            oneOf:
                              - type: object
                                properties:
                                  coding:
                                    type: array
                                    items:
                                      oneOf:
                                        - type: object
                                          properties:
                                            system: 
                                              type: string
                                              description: Coding system for the specialty code.
                                              enum:
                                                - "https://fhir.nhs.uk/STU3/CodeSystem/Specialty-1"
                                            code:
                                              description: "Three-digit NHS specialty code. Equivalent to NHS Data Dictionary Treatment Function Code"
                                              type: string
                                              example: "330"
                                            display:
                                              description: "NHS specialty name."
                                              type: string
                                              example: "DERMATOLOGY"
                        status:
# How does this differ from the appointment status extension?                        
                          description: "Appointment booking status"
                          type: string
                          enum:
                            - proposed
                            - pending
                            - booked
                            - arrived
                            - fulfilled
                            - cancelled
                            - noshow
                            - entered-in-error
                            - checked-in
                            - waitlist
                        description:
                          description: "Appointment description."
                          type: string
                          example: "Dermatology New"
# Trying to understand what this field means - the example doesn't give me much of a clue.                          
                        start:
                          description: "Start date/time of appointment in local time zone."
                          type: string
                          example: "2021-06-13T12:30:00+00:00"
                        end:
                          description: "End date/time of appointment in local time zone."
                          type: string
                          example: "2021-06-13T12:45:00+00:00"
                        slot:
                          description: "Slot USRN and internal ID"
# What does this mean? What is a USRN?                          
                          type: array
                          items: 
                            anyOf:
                              - description: "USRN"
                                type: object
                                properties:
                                  identifier:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        enum:
                                          - "https://fhir.nhs.uk/Id/USRN"
                                      value:
                                        type: string
                                        example: "000000000000"
                              - description: "Source System Slot ID"
                                type: object
                                properties:
                                  identifier:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        enum:
                                          - "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/Slot"
                                      value:
                                        type: string
                                        example: "65468756"
                        basedOn:
                          type: array
                          items:
                            type: object
                            properties:
                              identifier:
                                type: array
                                items: 
                                  anyOf:
                                    - description: "UBRN"
                                      type: object
                                      properties:
                                        system:
                                          type: string
                                          enum:
                                            - "https://fhir.nhs.uk/Id/UBRN"
                                        value:
                                          type: string
                                          example: "000000000001"
                                    - description: "Referral ID"
                                      type: object
                                      properties:
                                        system:
                                          type: string
                                          example: "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/ServiceRequest"
                                        value:
                                          type: string
                                          example: "265413"
                                    - description: "Pathway ID"
                                      type: object
                                      properties:
                                        system:
                                          type: string
                                          example: "https://fhir-open.cerner.com/PathwayId"
                                        value:
                                          type: string
                                          example: "RBH5644312231"               
                        participant:
                          type: array
                          items:
                            anyOf:
                              - description: 'Patient. Only populated if the patient is in attendance, i.e. not for hidden appointments.'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Patient"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/nhs-number"
                                          value:
                                            type: string
                                            example: "9000000009"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action
                              - description: 'Attending clinician (optional).'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Practitioner"
                                      display:
                                        type: string
                                        example: "Dr. John Doe"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/sds-user-id"
                                          value:
                                            type: string
                                            example: "999999999"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action
                              - description: 'Portal Healthcare Service. [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "HealthcareService"
                                      display:
                                        type: string
                                        example: "Dermatology Check-up"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action                                    
                              - description: 'Source System Healthcare Service [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "HealthcareService"
                                      display:
                                        type: string
                                        example: "Dematology New Appointment"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            example: "https://fhir-open.cerner.com/dstu2/ec2458f2-1e24-41c8-b71b-0e701af7583d/HealthcareService"
                                          value:
                                            type: string
                                            example: "4817508"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action
                              - description: 'e-RS Service ID [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "HealthcareService"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/ers-service"
                                          value:
                                            type: string
                                            example: "4817508"
                                      display:
                                        type: string
                                        example: "General Dermatology - Main OPD - Barnsley NHS Foundation Trust - RFF"

                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action                                                                   
                              - description: 'ODS Code [Required]'
                                type: object
                                required: 
                                  - actor
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Location"
                                      identifier:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            enum:
                                              - "https://fhir.nhs.uk/Id/ods-organization-code"
                                          value:
                                            type: string
                                            example: "RFF"
                                      display:
                                        type: string
                                        example: "BARNSLEY HOSPITAL NHS FOUNDATION TRUST"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action        
                              - description: 'Appointment Location [Optional]'
                                type: object
                                properties:
                                  actor:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - "Location"
                                      display:
                                        type: string
                                        example: "Main Outpatients Department, 101 Main Road, London EC1 1AB"
                                  status:
                                    type: string
                                    enum:
                                      - accepted 
                                      - declined 
                                      - tentative 
                                      - needs-action                                                           
        '4XX':
          description: |
            An error occurred as follows:
            
            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | TBC         | `TBC`                      | TBC	|
            | TBC         | `TBC`                      | TBC  |
          
          content:
            application/json:
              schema:
                type: object
                properties:
                  tbc1:
                    type: string
                    enum:
                      - 'tbc'
                      - 'tbc'
                  tbc2:
                    type: string
                    example: 'tbc'
              example:
                $ref: components/examples/GetAppointmentsResponse4xx.json
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer                            
